<div class="navbar" [class.navbar--scrolled]="isScrolled()">
    <div class="logo">
        Belle Roo
    </div>

    <div class="navbar__menu">
        <a href="#" class="menu__item" [class.softWhite]="isScrolled()">Productos</a>
        <a href="#" class="menu__item" [class.softWhite]="isScrolled()">Contacto</a>
        <a href="#" class="menu__item" [class.softWhite]="isScrolled()">Sobre Nosotros</a>
        <a href="#" class="menu__shop-now" [class.softWhite]="isScrolled()">Compra</a>
    </div>
</div>
