/* Import modern-normalize */
@import 'modern-normalize/modern-normalize.css';

/* Set rem sizing to 10px */

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before{
    box-sizing: inherit;
}